.btn {
  border-radius: 8px;
  padding: 10px 25px;
  border: none;
  cursor: pointer;
}

.btn__icon {
  border-radius: 8px;
  padding: 10px 25px;
  border: none;
  cursor: pointer;
  gap: 10px;
  display: flex;
  align-items: center;
  @include fontSize16;
}